table {
 border-collapse: collapse;
 border: 1px solid black;
}
td{
  width:60px;
  height:60px;
  font-weight:bold;
  text-align: center;
  font-style: 'Helvetica';
  font-size: 30px;
  border: 1px solid black;
}

.x{
   background-color: rgba(124, 252, 0);
}

.o{
  background-color: rgba(250, 128, 114);
}

.bar{
  width: 320px;
}
.w3-green{color:#fff!important;
  background-color:#4CAF50!important;
}
.w3-light-grey{
  color:#000!important;
  background-color:#f1f1f1!important;
}
#myBar{
  height: 24px;
  width: 0%;
}
